extends common/layout

mixin toolbar(toolbar)
	ul.fixed.toolbar(class=attributes.class, id=attributes.id)
		each button in toolbar.buttons
			li.toolbutton
				if button.hotkey
					code.hotkey= button.hotkey
				if button.icon
					a(class='icon ls ls-' + button.icon)
				if button.text
					a.label= button.text

block main

	.rows.nowrap.full-height.hide-toolbar-labels.hide-toolbar-hotkeys

		+toolbar(data.toolbars.top).cols#top-toolbar

		.cols.nowrap.fluid

			+toolbar(data.toolbars.left).rows#left-toolbar
				li
					a.ls.ls-plus
				li
					a.ls.ls-minus

			#editor-size-limiter.relative.no-scroll.grow.shrink
				#editor-container.scroll.fill-offset-parent
					svg#editor(viewBox='0 0 297 210', width='594px', height='420px')
						text(x='0', y='0') Stuff goes here

			+toolbar(data.toolbars.right).rows#right-toolbar

		+toolbar(data.toolbars.bottom).cols#bottom-toolbar

block footer
	span Leptonic
	span.fluid Schematics editor
	span Mark K Cowan
	span mark@battlesnake.co.uk
