extends common/layout

include common/toolbar

block main

	.rows.nowrap.full-height

		+toolbar(toolbars.getByName('top')).cols#editor-top-toolbar

		.cols.nowrap.fluid

			+toolbar(toolbars.getByName('left')).rows#editor-left-toolbar
				li
					a.ls.ls-plus
				li
					a.ls.ls-minus

			#editor-size-limiter.relative.no-scroll.grow.shrink
				#editor-container.scroll.fill-offset-parent
					svg#editor(viewBox='0 0 297 210', width='594px', height='420px')
						text(x='0', y='0') Stuff goes here

			+toolbar(toolbars.getByName('right')).rows#editor-right-toolbar

		+toolbar(toolbars.getByName('bottom')).cols#editor-bottom-toolbar

block footer
	span Leptonic
	span.fluid Schematics editor
	span Mark K Cowan
	span mark@battlesnake.co.uk
