extends common/layout

include common/toolbar

block main

	.rows.nowrap.full-height.hide-toolbar-labels.hide-toolbar-hotkeys

		- var toolbars = data.getToolbars(data.toolbars);

		+toolbar(toolbars.top).cols#top-toolbar

		.cols.nowrap.fluid

			+toolbar(toolbars.left).rows#left-toolbar
				li
					a.ls.ls-plus
				li
					a.ls.ls-minus

			#editor-size-limiter.relative.no-scroll.grow.shrink
				#editor-container.scroll.fill-offset-parent
					svg#editor(viewBox='0 0 297 210', width='594px', height='420px')
						text(x='0', y='0') Stuff goes here

			+toolbar(toolbars.right).rows#right-toolbar

		+toolbar(toolbars.bottom).cols#bottom-toolbar

block footer
	span Leptonic
	span.fluid Schematics editor
	span Mark K Cowan
	span mark@battlesnake.co.uk
