@import 'toolbar';

#editor-container {
	z-index: 0;
	background: #ddd;
}

#editor {
	outline: 1px solid #ccc;
	background: white;

	text {
		font-family: monospace;
		font-size: 10px;
		line-height: 1;
		dominant-baseline: hanging;
	}
}

#editor-top-toolbar {
	@base: #caa;
	.toolbar-theme(@base: darken(@base, 30%), @contrast: 5%);
	.toolbutton-theme(@base: @base);
}

#editor-left-toolbar {
	@base: #aac;
	.toolbar-theme(@base: darken(@base, 30%), @contrast: 5%);
	.toolbutton-theme(@base: @base);
}

#editor-right-toolbar {
	@base: #aca;
	.toolbar-theme(@base: darken(@base, 30%), @contrast: 5%);
	.toolbutton-theme(@base: @base);
}

#editor-bottom-toolbar {
	@base: #ddb;
	.toolbar-theme(@base: darken(@base, 30%), @contrast: 5%);
	.toolbutton-theme(@base: @base);
}
