@import 'toolbar';

#editor-container {
	z-index: 0;
	background: #ddd;
}

#editor {
	outline: 1px solid #ccc;
	background: white;

	text {
		font-family: monospace;
		font-size: 10px;
		line-height: 1;
		dominant-baseline: hanging;
	}
}

@toolbar-base-darken: 30%;
@toolbar-contrast: 5%;
@toolbutton-base-darken: 10%;
@toolbutton-contrast: 5%;

.editor-toolbar-theme(@base, @bar-darken: 30%, @bar-contrast: 5%, @button-darken: 10%, @button-contrast: 10%) {
	.toolbar-theme(@base: darken(@base, @bar-darken), @contrast: @bar-contrast);
	.toolbutton-theme(@base: darken(@base, @button-darken), @contrast: @button-contrast);
}

#editor-top-toolbar {
	.editor-toolbar-theme(#caa);
}

#editor-left-toolbar {
	.editor-toolbar-theme(#aac);
}

#editor-right-toolbar {
	.editor-toolbar-theme(#aca);
}

#editor-bottom-toolbar {
	.editor-toolbar-theme(#ddb);
}
