@menu-item-background: linear-gradient(to bottom, #666, #444);
@menu-item-foreground: #eee;
@menu-item-highlight-background: linear-gradient(to bottom, #999, #444);
@menu-item-highlight-foreground: #ddd;
@menu-item-show-submenu-background: linear-gradient(to bottom, #999, #666);

@submenu-background: linear-gradient(to bottom, #666, #444);
@submenu-foreground: #eee;
@submenu-item-highlight-background: #ddd;
@submenu-item-highlight-foreground: #444;
@submenu-item-show-submenu-background: linear-gradient(to bottom, #999, #666);

/*
 * Invisible padding around submenu to reduce chance of accidental mouse-leave
 * events if cursor moves off menu
 */
@submenu-padding: 20px;

@menu-z-index: 900;

/* Colourful debugging for blocks and z-index */
@debug-menu: false;

.menu {
	align-self: stretch;
	overflow: visible;
	z-index: @menu-z-index;
	flex-wrap: nowrap;
	font-size: 1.4rem;

	&>.menu-item {
		display: block;
		position: relative;
		text-transform: uppercase;
		font-weight: 600;
		overflow: visible;
		padding: 1em 1.5em 1em;
		cursor: pointer;
		white-space: nowrap;
		z-index: 2;

		.icon+.caption {
			margin-left: 0.5em;
		}

		&.show-submenu {
			background: @menu-item-show-submenu-background;
			z-index: 1;
			&>.submenu {
				display: block;
			}
		}

		&.highlight {
			background: @menu-item-highlight-background;
			color: @menu-item-highlight-foreground;
		}

	}
}

/* Default submenu alignment */
.menu {
	&.cols>.menu-item>.submenu {
		/* align-left, extend-bottom */
		left: -@submenu-padding;
		right: auto;
		top: calc(100% ~"-" @submenu-padding);
		bottom: auto;
	}

	&.rows>.menu-item>.submenu {
		/* align-top, extend-right */
		top: -@submenu-padding;
		bottom: auto;
		left: calc(100% ~"-" @submenu-padding);
		right: auto;
	}
}

.menu>.menu-item>.submenu {
	position: absolute;
	display: none;
	background: transparent;
	padding: @submenu-padding;

	&.align-left {
		left: -@submenu-padding;
		right: auto;
	}

	&.align-right {
		left: auto;
		right: calc(100% ~"+" @submenu-padding);
	}

	&, &.align-top {
		top: -@submenu-padding;
		bottom: auto;
	}

	&.align-bottom {
		top: auto;
		bottom: calc(100% ~"+" @submenu-padding);
	}

	&.extend-left {
		left: auto;
		right: @submenu-padding;
	}

	&, &.extend-right {
		left: calc(100% ~"-" @submenu-padding);
		right: auto;
	}

	&.extend-top {
		top: auto;
		bottom: @submenu-padding;
	}

	&.extend-bottom {
		top: calc(100% ~"-" @submenu-padding);
		bottom: auto;
	}

	&>.menu {
		background: @submenu-background;
		color: @submenu-foreground;
		
		&>.menu-item {
			padding-right: 2em;

			&.show-submenu {
				background: @submenu-item-show-submenu-background;
			}

			&.highlight {
				background: @submenu-item-highlight-background;
				color: @submenu-item-highlight-foreground;
			}
		}
	}
}

#menu-input-blocker {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: ((@menu-z-index - 2));
	background: rgba(0,0,0,0);

	&.active {
		display: block;
	}
}

/*** Debugging ***/

.debug-menu(@enabled) when (@enabled = true) {

	.menu {
		outline: 4px solid red;
		background: rgba(255,0,0,0.2) !important;
	}

	.submenu {
		outline: 4px solid blue;
		background: rgba(0,0,255,0.2) !important;
	}

	.menu-item {
		outline: 4px solid yellow;
		background: rgba(255,255,0,0.2) !important;
	}

	#menu-input-blocker {
		background: rgba(0,255,0,0.2) !important;
	}
}

.debug-menu(@debug-menu);
