@menu-item-background: linear-gradient(to bottom, #666, #444);
@menu-item-foreground: #eee;
@menu-item-highlight-background: linear-gradient(to bottom, #999, #444);
@menu-item-highlight-foreground: #ddd;
@menu-item-show-submenu-background: linear-gradient(to bottom, #999, #666);

@submenu-background: linear-gradient(to bottom, #666, #444);
@submenu-foreground: #eee;
@submenu-item-highlight-background: #ddd;
@submenu-item-highlight-foreground: #444;

@submenu-padding: 20px;

@menu-z-index: 900;

.menu {
	align-self: stretch;
	overflow: visible;
	z-index: @menu-z-index;

	&>.menu-item {
		display: block;
		position: relative;
		text-transform: uppercase;
		font-weight: 600;
		overflow: visible;
		padding: 1em 1.5em 1em;
		cursor: pointer;
		white-space: nowrap;

		&.highlight {
			background: @menu-item-highlight-background;
			color: @menu-item-highlight-foreground;
		}

		&.show-submenu {
			background: @menu-item-show-submenu-background;
			&>.submenu {
				display: block;
			}
		}
	}

	&.cols>.menu-item>.submenu {
		left: -@submenu-padding;
		top: calc(100% ~"-" @submenu-padding);
	}
}

.submenu {
	position: absolute;
	display: none;
	z-index: @menu-z-index;;
	background: transparent;
	padding: @submenu-padding;
	left: calc(100% ~"-" @submenu-padding);
	top: -@submenu-padding;

	&>.menu {
		background: @submenu-background;
		color: @submenu-foreground;
		
		&>.menu-item {
			padding-right: 2em;

			&.highlight {
				background: @submenu-item-highlight-background;
				color: @submenu-item-highlight-foreground;
			}
		}
	}
}

#menu-input-blocker {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: ((@menu-z-index - 1));
	background: rgba(0,0,0,0);

	&.active {
		display: block;
	}
}
