@import 'reset';
@import 'gradients';

/* Declare the default toolbar and button theme */
//.toolbar-theme();
//.toolbutton-theme();

.toolbar-theme(
	@base: #aaa,
	@contrast: 10%
) {
	/* Toolbar colours */
	@dark: darken(@base, @contrast);
	/* Toolbar geometry */
	@padding: 2px;
	@border-width: 1px;
	/* Toolbar style */
	@border: @border-width solid @dark;
	@background: @base;
	@background-horizontal: split-gradient(to bottom, @base, @dark);
	@background-vertical: split-gradient(to right, @base, @dark);

	&.toolbar {
		z-index: 300;
		margin: 0;
		overflow: visible;
		flex: 0 0 auto;
		border: 1px solid transparent;
		background: @background;
		padding: @padding;

		&.rows {
			overflow-y: auto;
			border-left: @border;
			border-right: @border;
			background: @background-vertical;
		}

		&.cols {
			overflow-x: auto;
			border-top: @border;
			border-bottom: @border;
			background: @background-horizontal;
		}
	}
}

.toolbutton-theme(
	@base: #888,
	@contrast: 10%,
	@icon-size: 3.2rem,
	@label-size: 1.4rem,
	@hotkey-size: 1.4rem,
	@padding: 4px,
	@margin: 2px,
	@spacing: 4px,
	@border-radius: 0
) {
	/* Button colours */
	@dark: darken(@base, @contrast);
	@light: lighten(@base, @contrast);
	@darker: darken(@base, (@contrast*2));
	@lighter: lighten(@base, (@contrast*2));
	@darkest: darken(@base, (@contrast*3));
	@lightest: lighten(@base, (@contrast*3));
	/* Button geometry */
	@border-size: 1px;
	/* Button normal style */
	@normal-foreground: @lightest;
	@normal-background: nuweb-gradient(@dark, @darker);
	@normal-border: @border-size solid @dark;
	/* Button hover style */
	@hover-foreground: @lightest;
	@hover-background: nuweb-gradient(@base, @dark);
	@hover-border: @border-size solid @base;
	/* Button down style */
	@down-foreground: @light;
	@down-background: nuweb-gradient(@darkest, @darker);
	@down-border: @border-size solid @dark;

	/* Calculated geometry */
	@button-size: @icon-size + 2 * (@padding + @border-size);

	&.toolbar {

		&.rows>.toolbutton {
			width: calc(@button-size);

			.icon+.caption {
				margin-top: @spacing;
			}
		}

		&.cols>.toolbutton {
			height: calc(@button-size);

			.icon+.caption {
				position: relative;
				margin-left: @spacing;
			}
		}

		.toolbutton {
			position: relative;
			min-width: calc(@button-size);
			min-height: calc(@button-size);
			flex: 0 0 auto;
			background: @normal-background;
			color: @normal-foreground;
			border: @normal-border;
			margin: @margin;
			padding: @padding;
			cursor: pointer;
			border-radius: @border-radius;
			line-height: 1;

			&:focus, &:hover, .focus {
				background: @hover-background;
				color: @hover-foreground;
				border: @hover-border;
			}

			&:active, .down {
				background: @down-background;
				color: @down-foreground;
				border: @down-border;
			}

			&>* {
				color: inherit;
				line-height: 1;
				background: none;
			}

			.icon {
				display: inline-block;
				font-size: @icon-size;
				width: @icon-size;
				height: @icon-size;
				line-height: 1;
				vertical-align: middle;

				&, &:focus, &:active, &:hover {
					color: inherit;
				}
			}

			.hotkey {
				position: absolute;
				right: @padding;
				bottom: @padding;
				font-size: @hotkey-size;
				font-family: 'Share Tech Mono', monospace;
				font-weight: 700;
				white-space: pre;
				line-height: 1;
				padding: 0;
				color: black;
				text-shadow: 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white, 0px 0px 1px white;
			}

			.caption {
				display: inline-block;
				font-size: @label-size;
				line-height: 1;
				padding: 4px;
				vertical-align: middle;
				font-weight: 500;
			}
		}
	}
}

.hide-toolbar-hotkeys .toolbutton>.hotkey,
.hide-toolbar-icons .toolbutton>.icon,
.hide-toolbar-all-labels .toolbutton>.label,
.hide-toolbar-labels .toolbutton>.icon+.label {
//	display: none !important;
}
