mixin menu(items)
	ul.menu(class=attributes.class)
		each item in items
			li.fixed.menu-item(class=(page.name==item.name) ? 'active' : '', onclick='menuClick("' + item.name + '")')
				= item.title
				if item.items
					.submenu
						+menu(item.items).rows

nav.cols#navbar

	+menu(menu).cols
