mixin toolbar(toolbar)
	ul.fixed.toolbar&attributes(attributes)
		each button in toolbar.buttons
			li.toolbutton
				if button.hotkey
					code.hotkey= button.hotkey
				if button.icon
					a(class='icon ls ls-' + button.icon)
				if button.text
					a.label= button.text
