include action

mixin menu(menu)
	ul.menu&attributes(attributes)(class = menu.direction === 'horizontal' ? 'cols' : 'rows', data-name = menu.name)
		each action in menu.actions.getActions()
			+action(action).fixed.menu-item
