extends layout

include ../component/menu
include ../component/toolbar

block header
	nav.cols#navbar
		+menu(menus.getByName('main')).wrap#main-menu

block main

	.rows.nowrap.full-height

		+toolbar(toolbars.getByName('top')).cols#editor-top-toolbar

		.cols.nowrap.fluid

			+toolbar(toolbars.getByName('left')).rows#editor-left-toolbar

			#editor-size-limiter.relative.no-scroll.grow.shrink
				#editor-container.scroll.fill-offset-parent
					block canvas

			+toolbar(toolbars.getByName('right')).rows#editor-right-toolbar

		+toolbar(toolbars.getByName('bottom')).cols#editor-bottom-toolbar

block footer
	span.status-left Leptonic
	span.status-main.fluid Schematics editor
	span.status-right Mark K Cowan
	span.status-rightmost mark@battlesnake.co.uk
